	<div class="row">
		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
		  <div class="carousel-inner">
		    <div class="item active">
		    	<%= image_tag("2021newbanner.png", class: "d-block w-100 c-image") %>
		    </div>
		    <div class="item">
		      <%= image_tag("carousel.jpg", class: "d-block w-100 c-image") %>
		    </div>
		    <div class="item">
		      <%= image_tag("carousel_1.jpg", class: "d-block w-100 c-image") %>
		    </div>

		    <div class="item">
		      <%= image_tag("carousel_2.jpg", class: "d-block w-100 c-image") %>
		    </div>

		    <div class="item">
		      <%= image_tag("carousel_5.jpg", class: "d-block w-100 c-image") %>
		    </div>
		  </div>
		  <a class="left carousel-control" href="#carouselExampleControls" role="button" data-slide="prev">
		    <span class="icon-prev"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class=" right carousel-control" href="#carouselExampleControls" role="button" data-slide="next">
		    <span class="icon-next"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</div>
<hr style="border:1px solid #9DD8F7;">


<div class="row mission-vision">
	<div class="container-fluid">
		<div class="col-md-4 text-center">
			<div class="title-def">
				<i class="fas fa-globe-africa fa-3x image-def"></i>
			</div>

			<div class="content-def">
				<h4 class="core-content">Vision</h4>
				<p>To make Disciples of all nations. (Matthew 28:19) : "Go therefore and make disciples of all nations, baptizing them in the name of the Holyspirit, teaching them to observe all that I have commanded you; and lo I am with you to the end of age." Amen
				</p>
			</div>
		</div>

		<div class="col-md-4 text-center">
			<div>
			<i class="fas fa-church fa-3x image-def"></i>
			</div>

			<div class="content-def">
				<h4 class="core-content">Mission Statement</h4>
				<p>To be a church that rightfully and effectively declares the message of the scripture that is socially and spiritually relevant, equipping saints to do the work of the ministry.
				</p>
			</div>
		</div>

		<div class="col-md-4 text-center">
			<div class="title-def">
				<i class="fas fa-pray fa-3x image-def"></i>
			</div>

			<div class="content-def">
				<h4 class="core-content">Purpose</h4>
				<P>To bring People to Christ and to the membership of His family, disciples and equip them for the work of the ministry. (Ephesians 4:12)
				<span id="dots">...</span></P>
				<div id="more">
					<P>To add value in people's lives through teaching biblical principles and being a role model</P>

					<P>To develop a Kingdom community that impacts other communities. Example Academic Community, Business community etc.</P>
				</div>

				<button onclick="myFunction()" id="myBtn">Readmore</button>
			</div>
		</div>
	</div>
</div>
<hr style="border:1px solid #9DD8F7;">
<div class="row mission-vision">
	<div class="container-fluid">
		<h4 class="text-center core-title">OUR CORE VALUES</h4>
			<div class="row">
				<div class="col-md-4">
						<div class="card">
							<%= image_tag("family.jpg", class: "card-img-top d-block w-100 c-image") %>
						 <!--  <img class="card-img-top" src="..." alt="Card image cap"> -->
						  <div class="card-body text-center">
						    <h3 class="card-title text-center">We Are a Family</h3>
						    
						    <a href="#" class="btn btn-primary">Read More</a>
						  </div>
						</div>
				</div>

				<div class="col-md-4">
						<div class="card">
							<%= image_tag("excellent_service.jpg", class: "card-img-top d-block w-100 c-image") %>
						 <!--  <img class="card-img-top" src="..." alt="Card image cap"> -->
						  <div class="card-body text-center">
						    <h3 class="card-title text-center">Excellence in Service</h3>
						    
						    <a href="#" class="btn btn-primary">Read More</a>
						  </div>
						</div>
				</div>

				<div class="col-md-4">
					<div class="card">
							<%= image_tag("biblical-techings.jpg", class: "card-img-top d-block w-100 c-image") %>
						 <!--  <img class="card-img-top" src="..." alt="Card image cap"> -->
						  <div class="card-body text-center">
						    <h3 class="card-title text-center">Sound Biblical Teachings</h3>
						    
						    <a href="#" class="btn btn-primary">Read More</a>
						  </div>
						</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
						<div class="card">
							<%= image_tag("education.jpg", class: "card-img-top d-block w-100 c-image") %>
						 <!--  <img class="card-img-top" src="..." alt="Card image cap"> -->
						  <div class="card-body text-center">
						    <h3 class="card-title text-center">Learning</h3>
						   
						    <a href="#" class="btn btn-primary">Read More</a>
						  </div>
						</div>
				</div>

				<div class="col-md-4">
					<div class="card">
							<%= image_tag("god_centered.jpg", class: "card-img-top d-block w-100 c-image") %>
						 <!--  <img class="card-img-top" src="..." alt="Card image cap"> -->
						  <div class="card-body text-center">
						    <h3 class="card-title text-center">God Centered Worship</h3>
						    
						    <a href="#" class="btn btn-primary">Read More</a>
						  </div>
						</div>
				</div>

				<div class="col-md-4">
						<div class="card ">
							<%= image_tag("children_mini.jpg", class: "card-img-top d-block w-100 c-image rounded border border-primary") %>
						 <!--  <img class="card-img-top" src="..." alt="Card image cap"> -->
						  <div class="card-body text-center">
						    <h3 class="card-title text-center">Children Ministry</h3>
						    <a href="#" class="btn btn-primary">Read More</a>
						  </div>
						</div>
				</div>
			</div>
	</div>
</div>
<hr style="border:1px solid #9DD8F7;">

<div class="blog-sect text-center">
	<h4 class="core-title">WORD FROM THE PASTORS DESK</h4>
	<h4><%= blog_title(0) %></h4>
	<p><%= blog_text_teaser(0)%></p>
	<%= link_to "Read more", blog_path(blog_helper(0)), class: "btn btn-info" %>
</div>
<div class="modal fade" id="giveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-center" id="exampleModalLabel">Giving: Tithes, Offerings, Projects</h2>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">

       	<div class="item">
		      <%= image_tag("mpesa_church.png", class: "d-block w-100 c-image") %>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>