<% provide(:title, "Sermons & Songs") %>
<p id="notice"><%= notice %></p>

<h4 class="core-title text-center">Sermons and Songs</h4>
<div class="row text-center" style="margin-bottom:10px;">
    <% @videos.each do |video| %>
    <div class="col-md-4">
      <iframe src='https://www.youtube.com/embed/<%= video.url.split('/').last %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
      <% if session[:user_id] %>
          <table>
            <tr>
              <td><%= link_to 'Show', video %></td>
              <td><%= link_to 'Edit', edit_video_path(video) %></td>
              <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          </table>
        <% end %>
    </div>
    <% end %>
</div>

<br>
<% if session[:user_id] %>
<%= link_to 'New Video', new_video_path %>
<% end %>
